*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(img/bg5.jpg);
  background-size: cover;
}

h1 {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  color: #fff;
}

.container {
  width: 60%;
  padding-top: 30px;
  margin: auto;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
  background-color: #fff;
  border-radius: 2%;
  border: 3px dotted #ec9b32;
}

.recent {
  display: flex;
  gap: 2rem;
}

.scores {
  width: 40%;
}

.form-section {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  background-color: #ec9b32;
  border: #ec9b32;
}

button:hover {
  background-color: white;
  color: #ec9b32;
}

.submit {
  width: 5rem;
  align-self: end;
}

.list {
  list-style-type: none;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 0.3rem;
}

li {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.color {
  background-color: #ec9b32;
}

.no-color {
  border: 2px dotted #ec9b32;
}
